.env

logs/
__pycache__/

#do not commit the locally saved models
saved_models/meta-llama_Meta-Llama-3-8B-Instruct/tokenizer/*
saved_models/meta-llama_Meta-Llama-3-8B-Instruct/model/*
aux_fcns/stego-snowball
aux_fcns/deleteme.py
aux_fcns/deleteme copy.py
