.env

logs/
__pycache__/

#ignore auxiliary functions
aux/*

#do not commit the locally saved models
saved_models/meta-llama_Meta-Llama-3-8B-Instruct/tokenizer/*
saved_models/meta-llama_Meta-Llama-3-8B-Instruct/model/*
